# Compiled class files
*.class

# Log and temporary files
*.log
*.ctxt
.mtj.tmp/

# Package files
*.jar
*.war
*.ear

# IDE-specific files
.project
.classpath
.settings/
bin/
*.iml
.idea/
out/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.vscode/

# Build tool files
target/
.gradle/
build/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Swap and environment files
*.swp
.env
